:root {
  /* Primary Color */
  --strong-cyan: #26C0AB;

  /* Neutral Color */
  --very-dark-cyan: #00494D;
  --dark-grayish-cyan: #5E7A7D;
  --grayish-cyan: #7F9C9F;
  --light-grayish-cyan: #C5E4E7;
  --very-light-grayish-cyan: #F4FAFA;
  --white: #FFFFFF;

  /* Other Colors */
  --red: #FF0000;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: space-between;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Space Mono';
  font-weight: 700;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-grayish-cyan);
}

label {
  color: var(--dark-grayish-cyan);
  display: block;
  margin-bottom: 10px;
}

input, button {
  font-size: 24px;
}

input {
  background-color: var(--very-light-grayish-cyan);
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--very-dark-cyan);
  outline: none;
  padding: 5px 20px;
  text-align: right;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



input:hover, button:hover {
  cursor: pointer;
}