.section {
    background-color: var(--very-dark-cyan);
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 45px;
    width: 420px;
}

.section > div:first-of-type {
    margin-bottom: 30px;
}

.resultTip {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.p {
    color: var(--white);
}

.span {
    color: var(--grayish-cyan);
    font-size: 14px;
}

.h2 {
    font-size: 48px;
    color: var(--strong-cyan);
}

#reset {
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 5px;
    padding: 7px;
    color: var(--very-dark-cyan);
    margin-top: 150px;
    text-transform: uppercase;
    width: 100%;
}

#reset:hover {
    background-color: var(--light-grayish-cyan);
}

#reset:disabled {
    background-color: var(--strong-cyan);
    cursor: initial;
    opacity: 0.2;
}

@media screen and (max-width: 970px) {
    #reset {
        margin-top: 50px;
    }
}

@media screen and (max-width: 430px) {
    .section {
        margin: auto;
        padding: 35px 25px 25px 25px;
        width: 90%;
    }
    
    .section > div:first-of-type {
        margin-bottom: 15px;
    }

    .h2 {
        font-size: 40px;
    }

    #reset {
        margin-top: 30px;
    }
}